.header-center-element {
  margin-left: 35%;
}

.margin-header {
  margin-left: 1rem;
  margin-right: 1rem;
}

.image-building {
  width: 559px;
}
.image-meter {
  width: 300px;
}

.homeName {
  margin-left: 150px;
  text-decoration: none;
}

.header-element {
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}

@media screen and (max-width: 900px) {
  .header-center-element {
    margin-left: auto;
  }

  .home-images {
    width: 100px;
  }
}
