.steps-list {
  list-style: none;
  font-size: 30px;
}

.mask-img {
  width: 250px !important;
  position: absolute;
  top: 137%;
  left: 65%;
}



.margin-top-100{
    margin-top: 100px !important;
}

.list-div {
  margin-top: 150px !important;
}

.doctor-img {
  width: 400px;
}

.doctor-list li {
  margin: 14px auto;
}

.time-img {
  width: 300px;
}

.padding-top {
  padding-top: 100px;
}
